@use "../abstracts/variables";
@use "../abstracts/mixins";

.intro {
	background-image: url(../../images/bg-imgs/intro-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 72px 0 137px 0;

	&__content {
		max-width: 613px;
		text-align: center;

		&-title {
			color: #FFF;
			font-family: 'Zing Rust Demo Base';
			font-size: 67px;
			font-weight: 400;
			line-height: 109.2%;
			transform: rotate(-8.368deg);
			margin-top: 33px;
			text-shadow: -7px 4px 0px rgba(255, 255, 255, 0.25);
		}
	}
}

// tabs

.tabs {
	padding: 29px 13px 0 13px;

	.nav {
		gap: 55px;
	}

	.nav-tabs {
		border-bottom: 1px solid rgb(255, 255, 255, 0.10);
		;
	}

	.nav-item {
		padding-bottom: 29px;

		&:hover {
			color: variables.$white;
			font-size: 20px;
			font-weight: 600;
			padding-bottom: 27px;
			border-bottom: 2px solid variables.$dark-green;
		}
	}

	.nav-linkk {
		color: #cfcfcf;
		font-size: 18px;
		padding: 0;
	}
}